.pricing-section {
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  color: #f05d5e;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 8px;
  margin: 30px auto;
}

.pricing-section > h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 20px;
}

.pricing-section > .prices {
  display: flex;
  justify-content: space-between;
}

.pricing-section > .prices h3 {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 10px;
}

.prices {
  padding: 20px;
  margin: auto;
}

.pricing-section table tr td {
  min-width: 48px;
}

.pricing-section table td:nth-child(2) {
  font-size: 1.1em;
  font-weight: bolder;
}

.pricing-section span {
  font-weight: bolder;
}

.bed {
  padding-right: 20px;
}

.flat-prices {
  padding-left: 20vw;
}

.house-prices {
  padding-right: 20vw;
}

@media (max-width: 1000px) {
  .flat-prices,
  .house-prices {
    padding: 0 10vw;
  }
}

@media (max-width: 800px) {
  .flat-prices,
  .house-prices {
    padding: 0 5vw;
  }
}
